.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 40vw;
}

.characters-counter{
    position: relative;
    bottom: 1rem;
    left: 1rem;
    height: 1rem;
    width: 30vw;
    text-align: right;
}