.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
    height: 7rem;
    width: 100%;
    margin-bottom: 1rem;
}

img{
    width: 10rem;
    height: 3.75rem;
}