.img__preview {
    cursor: pointer;
    width: 100%;
}

.rooms__preview {
background-color: #5fb45f;
}

.buttons--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: .5rem;
    right: .5rem;
    top: 6.75rem;
}

.container--form {
    margin-bottom: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 40rem;
}