.img__preview {
    cursor: pointer;
    width: 100%;
}

.rooms__preview {
    background-color: #5fb45f;
}

.buttons--container {
    display: flex;
    gap: .5rem;
    margin: .5rem;
}

.container--form {
    margin-bottom: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 25rem;
}

.note-dialog {
    margin: 2.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 35rem;
}

.add-note-form {
    position: absolute;
    right: 1rem;
    top: 7.5rem;
}

.img-container{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.character-photo{
    margin: auto;
    height: 15rem;
}