.img__preview {
    cursor: pointer;
    width: 100%;
}

.rooms__preview {
    background-color: #5fb45f;
}

.buttons--container {
    display: flex;
    gap: .5rem;
    margin: .5rem;
}

.container--form {
    margin-bottom: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 35rem;
}

.note-dialog {
    margin: 2.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 35rem;
}