.container{
    position: fixed;
    width: 100%;
    min-height: 3.5rem;
    background:  #f79a6b;
    bottom: 0;
}

.contact-us__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 6rem;
    margin: .75rem auto;
    padding: .5rem;
    border-radius: 10px;;
}

.contact-us__link:hover{
    background: #e16d32;
}
