.container{
    height: 2.5rem;
    display: flex;
    margin: 0 .5rem;
    flex-direction: column;
    padding: .5rem;
}

.character--filters {
    background-color: rgba(255, 143, 42, 0.76);
    height: 12.5rem;
}
