.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer__stopwatch{
    border-radius: 5px;
    font-size: 2rem;
    width: 15rem;
    text-align: center;
}

.timer__stopwatch--running {
    background-color: #5fb45f;
}

.timer__stopwatch--stopped {
    background: #b64646;
}

.timer__btn{
    background: transparent;
    border: none;
    margin-top: .25rem;
    padding: .5rem;
    border-radius: 7px;
}

.timer__btn:hover{
    cursor: pointer;
    background-color: #b5ff80;
}

.timer__btn img{
    width: 2rem;
    height: 2rem;
}
