.menu-option {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 20%;
    font-size: 1.2rem;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 10rem;
    padding: .5rem;
    margin: .5rem;
    color: #000000;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.3s;
}

.link:hover{
    opacity: 1;
    background-color: #ffc5a9;
    border-radius: 10px;
    text-decoration: none;
}

.active {
    color: black;
    background-color: #ffcdb8;
    width: 10rem;
    padding: .5rem;
    margin: .5rem;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}



