.menu-option {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 20%;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 7rem;
    padding: .5rem;
    color: black;
}

.link:hover{
    background-color: #e79872;
    border-radius: 10px;
    text-decoration: none;
}

.active {
    color: black;
    background-color: #e79872;
    padding: .5rem;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: none;
}



